<!-- Page Container -->
        <!-- You can update template settings or enable local storage feature in js/app.js -> 'AppCtrl' controller () -->
        <div id="page-container" data-ng-class="{
            'sidebar-l': oneui.settings.sidebarLeft,
            'sidebar-r': ! oneui.settings.sidebarLeft,
            'sidebar-o': oneui.settings.sidebarOpen,
            'sidebar-o-xs': oneui.settings.sidebarOpenXs,
            'sidebar-mini': oneui.settings.sidebarMini,
            'side-scroll': oneui.settings.sideScroll,
            'sidebar-h': showsiderbar,
            'header-navbar-fixed': oneui.settings.headerFixed
        }">

            <!-- Sidebar -->
            <nav data-ng-include="'assets/views/partials/base_sidebar.html'" data-ng-controller="SidebarCtrl" id="sidebar"></nav>

            <!-- Header -->
            <header data-ng-include="'assets/views/partials/base_header.html'" data-ng-controller="HeaderCtrl" id="header-navbar" class="content-mini content-mini-full"></header>

            <!-- Main Container -->
            <main id="main-container" data-autoscroll="true" data-ui-view="main"></main>

            <!-- Footer -->
            <footer data-ng-include="'assets/views/partials/base_footer.html'" id="page-footer" class="content-mini content-mini-full font-s12 bg-gray-lighter clearfix"></footer>
        </div>
        <!-- END Page Container -->